.center {
	text-align: center;
}

.margin-left-20 {
	margin-left: 20px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

img {
    image-orientation: from-image;
}


.brand-logo img {
	margin-top: 4px;
	height: 55px;
}

#welcome-text {
	color: #ff6633;
}

#sesti-address {
	float: right;
	text-align: center;
}

#logo-2 {
	width: 270px;
	float: left;
}

#home-footer {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
	margin-top: 30px;
}